<!-- about section start -->
<section class="about" id="about">
  <div class="max-width">
    <h2 class="title">About</h2>
    <div class="about-content">
      <div
        class="column left"
        data-aos="fade-right"
        data-aos-easing="linear"
        data-aos-duration="900"
      >
        <img src="../../../assets/images/covid-1.jpg" alt="" />
      </div>
      <div class="column right">
        <div class="text">What is <span class="typing1"></span></div>
        <p
          class="tuteh"
          data-aos="fade-left"
          data-aos-easing="linear"
          data-aos-duration="1000"
        >
        COVID-19 is an infectious disease caused by a newly discovered coronavirus.
         'CO' stands for corona, 'VI' for virus, and 'D' for disease.It triggers what doctors call a respiratory tract infection. It can affect your upper respiratory tract (sinuses,
          nose, and throat) or lower respiratory tract (windpipe and lungs).It spreads the same way other coronaviruses
          do, mainly through person-to-person contact. Infections range from mild to deadly.On 31 December 2019, WHO was informed of cases of pneumonia of unknown cause in Wuhan City, China.
           A novel coronavirus was identified as the cause by Chinese authorities on 7 January 2020 and was temporarily named “2019-nCoV”.

        </p>
        <br />

        <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/question-and-answers-hub/q-a-detail/coronavirus-disease-covid-19#:~:text">
          For more...</a>
      </div>
    </div>
  </div>
</section>
