<!-- Navbar Start-->
<nav class="navbar">
    <div class="max-width">
        <div class="logo"><a (click)="onClick('home')">COVID<span>-19</span></a></div>
        <ul class="menu">
            <li><a (click)="onClick('home')" class="menu-btn">Home</a></li>
            <li><a (click)="onClick('about')" class="menu-btn">About</a></li>
            <li><a (click)="onClick('prevent')" class="menu-btn">Prevent</a></li>
            <li><a (click)="onClick('symptoms')" class="menu-btn">Symptoms</a></li>
            <li><a (click)="onClick('statistics')" class="menu-btn">Statistics</a></li>
            <li><a (click)="onClick('contact')" class="menu-btn">Contact</a></li>
            <li><a (click)="onClickHelp()" class="menu-btn">Help</a></li>
        </ul>
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </div>
  </nav>