<!-- prevent section start -->
<section class="prevent" id="prevent">
    <div class="max-width">
      <h2 class="title">Prevent</h2>
      
      <!-- Carousel Start -->
      <div class="carousel owl-carousel">
       
        <div class="card" data-aos="zoom-in-down">
          <div class="box">
            <img src="../../../assets/images/protect-1.png" alt="" />
            <div class="text">Wear A Face Mask</div>
            <div class="txt">
              Wear your mask when ever your in public.
            </div>
            <a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/diy-cloth-face-coverings.html"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="card" data-aos="zoom-in-down">
          <div class="box" data-aos="zoom-in-down">
            <img src="../../../assets//images/protect-2.png" alt="" />
            <div class="text">Wash Your Hands</div>
            <div class="txt">
              Wash hands with soap and water and use hand sanitizers with at least
              60% alcohol.
            </div>
            <a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/hand-sanitizer.html"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
          </div>
        </div>
  
        <div class="card" data-aos="zoom-in-down">
          <div class="box">
            <img src="../../../assets/images/protect-3.png" alt="" />
            <div class="text">Avoid Close Contact</div>
            <div class="txt">
              Stay at least 6 feet away from other people who are not from your
              household.
            </div>
            <a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/social-distancing.html"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
          </div>
        </div>
    
      </div>
    </div>
  </section>
  