<!-- corona virus worldwide info box start -->

<div class="box">
    <a href="http://sacoronavirus.co.za">
        <mat-card class="info-box3" data-aos="fade-up" data-aos-duration="2000">
            <mat-card-subtitle class="info-title">{{countryCode}} Cases</mat-card-subtitle>
            <mat-card-title class="info-cases3">+{{ TodayCases  }}</mat-card-title>
            <mat-card-subtitle class="info-total">{{ Cases  }} Total</mat-card-subtitle>
        </mat-card>
    </a>
    <a href="http://sacoronavirus.co.za">
        <mat-card class="info-box1" data-aos="fade-up" data-aos-duration="2500">
            <mat-card-subtitle class="info-title">{{countryCode}}  Deaths</mat-card-subtitle>
            <mat-card-title class="info-cases1">+{{ TodayDeaths  }}</mat-card-title>
            <mat-card-subtitle class="info-total">{{ Deaths  }} Total</mat-card-subtitle>
        </mat-card>
    </a>
    <a href="http://sacoronavirus.co.za">
        <mat-card class="info-box2" data-aos="fade-up" data-aos-duration="3000">
            <mat-card-subtitle class="info-title">{{countryCode}}  Recovered</mat-card-subtitle>
            <mat-card-title class="info-cases2">+{{ TodayRecovered }}</mat-card-title>
            <mat-card-subtitle class="info-total">{{ Recovered  }} Total</mat-card-subtitle>
        </mat-card>
    </a>
   
</div>